<!DOCTYPE html>
<html>
  <head>
    <title>EDF Exercise</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Server Side Data</h2>

    <div id="server-side-data">

      <%= data %>

    </div>

    <h2>Client Side Data</h2>

    <ol id="client-side-data"></ol>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
